/*
https://www.digitalocean.com/community/tutorials/css-styling-form-input-validity
*/

* {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

pre, code, textarea {
	font-family: Menlo, Consolas, "Andale Mono", monospace;
}

body {
	background-color: #eeeeee;
}

header {
	width: 100%;
	height: 150px;
	background-color: #193b58;
	border-bottom: 1px solid black;
	box-shadow: 0 -1px 8px #222;
}

footer {
	margin-top: 10ex;
	width: 100%;
	background-color: #193b58;
	border-top: 1px solid black;
	box-shadow: 0 -1px 8px #222;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

a.footer {
	color: #eeeeee;
}

ul {
	margin-block-start: 0px;
}

div.entry-field-panel {
	margin-block-start: 1rem;
}

div.button-panel {
	margin-block-start: 1rem;
	padding-left: 7rem;
}

div.error-message {
	font-size: large;
	font-weight: bold;
	font-style: italic;
	background-color: #ffffff;
	border: 2px solid crimson;
	padding: 1rem;
}

pre.notes {
	margin-left: 2rem;
}

.content-emphasis {
	font-weight: bold;
}

.content-emphasis-large {
	font-weight: bold;
	font-size: 200%;
}

span.required-star {
	color: crimson;
}

img.external-link {
	max-width: 0.75rem;
	height: auto;
}

textarea {
	font-size: medium;
	border: 2px solid;
	border-radius: 4px;
	border-color: gray;
	margin: 0.25rem 0.25rem 0.25rem 1.2rem;	/* top, right, bottom, left */
	padding: 0.5rem;
	transition: border-color 0.5s ease-out;
}

input {
	font-size: medium;
	border: 2px solid;
	border-radius: 4px;
	margin: 0.25rem 0.25rem 0.25rem 1.2rem;	/* top, right, bottom, left */
	padding: 0.5rem;
	transition: border-color 0.5s ease-out;
}
input[type="file"] {
	width: 70ex;
}
input:optional {
	border-color: gray;
}
input:required:valid {
	border-color: green;
}
input:invalid {
	border-color: crimson;
}
input:required:focus:valid {
	background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg")
		no-repeat 95% 50% lightgreen;
	background-size: 25px;
}
input:focus:invalid {
	background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg")
		no-repeat 95% 50% lightsalmon;
	background-size: 25px;
}

.btn {
	font-size: medium;
	background: transparent;
	color: black; 
	text-align: center;
	cursor: pointer;
	margin: 2ex 5ex 2ex 5ex;	/* top, right, bottom, left */
	padding: 1ex 5ex 1ex 5ex;	/* top, right, bottom, left */
	border: 3px solid gray;
	border-radius: 4px;
}
.btn:hover {
	background: #dddddd;
}
.btn:active {
	background: #cccccc;
	/*transform: translate(2px, 2px);*/
}
