/*
See this for ideas for styling text boxes:
https://tutorialathome.in/css/different-css3-text-box-styling
*/

* {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.logo_box {
	width: 100%;
	height: 150px;
	background-color: #193b58;
	border-bottom: 1px solid black;
	box-shadow: 0 -1px 8px #222;
}

pre, textarea {
	font-family: Menlo, Consolas, "Andale Mono", monospace;
}

pre.notes {
	padding-left: 2rem;
}

div.radio-btn-group {
	padding-left: 1.2rem;
}

input, textarea {
	font-size: large;
}
