<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments :: head}"/>
<body>
	<div th:replace="~{fragments :: page-header}"/>

	<form th:object="${userSub}" th:action="${'/fileUpload/' + event.uri}"
			method="post" enctype="multipart/form-data">
		<h1>Submit Your <span th:text="${event.label}"/> Estimate:</h1>
		<div th:if="${not #strings.isEmpty(errorMessage)}" class="error-message">
			We are not able to accept your submission for the following reasons:
			<blockquote th:utext="${errorMessage}"/>
			If possible, please correct these issues and try again.
		</div>
		The purpose of this form is to collect your <b>Estimated Load Supported,</b>
		which is used to break ties.
		<div th:replace="~{fragments :: id-fields(null,
			'The name of the student submitting on behalf of the partnership')}"/>
		<div class="entry-field-panel">
			<label>
				Estimated Load Supported (in <b><i>grams,</i></b> with no decimal places):<span
					class="required-star"><sup>&starf;</sup></span><br/>
				<input type="number" th:field="*{loadEstimate}" min="0"
					placeholder="Est. load in grams" required/>
			</label>
		</div>
		<div th:replace="~{fragments :: notes-and-buttons}"/>
	</form>

	<div th:replace="~{fragments :: page-footer}"/>
</body>
</html>
