<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
	<head th:fragment="head">
		<title>VASO File Upload</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="/VasoFileUploadStylesheet.css"/>
	</head>

	<header th:fragment="page-header">
		<a href="/">
			<img src="https://virginiaso.org/images/VASO_logo_header.png"
				alt="Virginia Science Olympiad Logo" width="321px" height="125px"
				style="position:relative; top:12px; left:25px"/>
		</a>
	</header>

	<div th:fragment="heading">
		<h1>Submit Your <span th:text="${event.label}"/>
			<span th:if="${not event.isNotesUpload}">Entry</span>
			<span th:if="${event.isNotesUpload}">Notes</span>
			:</h1>
		<div th:if="${not #strings.isEmpty(errorMessage)}" class="error-message">
			We are not able to accept your submission for the following reasons:
			<blockquote th:utext="${errorMessage}"/>
			If possible, please correct these issues and try again.
		</div>
	</div>

	<div th:fragment="id-fields(studNameLbl, studNamePlHldr)">
		<div class="entry-field-panel">
			Division:<span class="required-star"><sup>&starf;</sup></span><br/>
			<label th:each="d: ${T(org.virginiaso.file_upload.Division).values()}">
				<input type="radio" name="division" th:value="${d.name}"
					th:checked="${userSub.division eq d.name}" required>
				<span th:text="${d.name}"/><br/>
			</label>
		</div>
		<div class="entry-field-panel">
			<label>
				Team Number:<span class="required-star"><sup>&starf;</sup></span><br/>
				<input type="number" th:field="*{teamNumber}" min="1"
					placeholder="Team number" required/>
			</label>
			<a href="https://virginiaso.org/pdf/TeamNumbers.pdf" target="_blank"
				rel="noreferrer noopener">Look up your team number here.<span
				class="required-star"><sup><img src="/externalLink.png" class="external-link"
				alt="This link will open in a new browser tab or window"/></sup></span></a>
		</div>
		<div class="entry-field-panel">
			<label>
				School Name:<span class="required-star"><sup>&starf;</sup></span><br/>
				<input type="text" th:field="*{schoolName}" size="70"
					placeholder="School name with no abbreviations except HS, JHS, MS, SS, or ES" required/>
			</label>
		</div>
		<div class="entry-field-panel">
			<label>
				Team Name (if applicable):<br/>
				<input type="text" th:field="*{teamName}" size="70"
					placeholder="Required if your school has more than one team"/>
			</label>
		</div>
		<div class="entry-field-panel">
			<label>
				<span th:text="${#strings.defaultString(studNameLbl,
					'Name of the one student submitting this form:')}"
					/><span class="required-star"><sup>&starf;</sup></span><br/>
				<input type="text" th:field="*{studentNames}" size="70"
					th:placeholder="${#strings.defaultString(studNamePlHldr,
					'Your name only &mdash; your partner&rsquo;s name goes on their submission, if any')}"
					required/>
			</label>
		</div>
	</div>

	<div th:fragment="submit-buttons">
		<div class="button-panel">
			<button type="submit" class="btn">Submit</button>
			<button type="reset" class="btn">Reset</button>
		</div>
	</div>

	<div th:fragment="notes-and-buttons">
		<div class="entry-field-panel">
			<label>
				Anything else you need to tell us (optional):<br/>
				<textarea rows="8" cols="70" th:field="*{notes}"
					placeholder="Use this space to tell us about any unusual circumstances surrounding your file upload."/>
			</label>
		</div>
		<div th:replace="~{fragments :: submit-buttons}"/>
	</div>

	<footer th:fragment="page-footer">
		<a href="https://virginiaso.org/" class="footer"
		>&copy; 2020 Virginia Science Olympiad, all rights reserved</a>
	</footer>
</body>
</html>
