<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments :: head}"/>
<body>
	<div th:replace="~{fragments :: page-header}"/>

	<form th:object="${userSub}" th:action="${'/fileUpload/' + event.templateName}"
			method="post" enctype="multipart/form-data">
		<div th:replace="~{fragments :: heading}"/>
		Instructions:
		<ul>
			<li>
				This form accepts one flight log and one video.  If you have two flights,
				you will need to submit them separately by using this form twice.
			</li>
			<li>
				If you submit two videos of different helicopters, each one should have
				its own flight log.
			</li>
			<li>
				If you submit two videos of one helicopter, upload its flight log both
				times.
			</li>
		</ul>
		<div class="entry-field-panel">
			Kind of Submission:<span class="required-star"><sup>&starf;</sup></span><br/>
			<label th:each="hMode: ${T(org.virginiaso.file_upload.HelicopterMode).values()}">
				<input type="radio" name="helicopterMode" th:value="${hMode.name}" th:checked="${helicopterMode eq hMode.name}" required>
				<span th:text="${hMode.label}"/><br/>
			</label>
		</div>
		<div th:replace="~{fragments :: id-fields}"/>
		<div class="entry-field-panel">
			<label>
				Flight duration (in seconds, with up to 2 decimal places):<br/>
				<input type="number" th:field="*{flightDuration}" class="text-field" min="0" step="0.01"/>
			</label>
		</div>
		<div class="entry-field-panel">
			<label>
				Flight Log (PDF):<br/>
				<input type="file" name="fileA" class="file-input" size="70"/>
			</label>
		</div>
		<div class="entry-field-panel">
			<label>
				Flight Video:<span class="required-star"><sup>&starf;</sup></span><br/>
				<input type="file" name="fileB" class="file-input" size="70" required/>
			</label>
		</div>
		<div th:replace="~{fragments :: notes-and-buttons}"/>
	</form>

	<div th:replace="~{fragments :: page-footer}"/>
</body>
</html>
