<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>VASO File Upload</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/VasoFileUploadStylesheet.css"/>
</head>
<body>
	<div th:replace="~{fragments :: page-header}"/>
	<h1>Virginia Science Olympiad File Upload</h1>
	<p>Choose your event:</p>
	<ul>
		<li th:each="event: ${T(org.virginiaso.file_upload.Event).values()}">
			<a th:href="'/fileUpload/' + ${event.templateName}" th:text="${event.label}"/>
		</li>
	</ul>
	<div th:replace="~{fragments :: page-footer}"/>
	<p style="font-style: italic"><span th:text="${host}"/>, <span th:text="${cores}"/> cores</p>
</body>
</html>
