<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>VASO File Upload</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/VasoFileUploadStylesheet.css"/>
</head>
<body>
	<div class="logo_box">
		<a href="/">
			<img src="https://virginiaso.org/images/VASO_logo_header.png"
				alt="Virginia Science Olympiad Logo" width="321px" height="125px"
				style="position:relative; top:12px; left:25px"/>
		</a>
	</div>
	<h1>Virginia Science Olympiad File Upload</h1>

	<p>Choose your event:</p>
	<ul>
		<li th:each="event: ${T(org.virginiaso.file_upload.Event).values()}">
			<a th:href="'/fileUpload/' + ${event.templateName}" th:text="${event.label}"/>
		</li>
	</ul>
</body>
</html>
