<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>VASO File Upload</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/VasoFileUploadStylesheet.css"/>
</head>
<body>
	<div th:replace="~{fragments :: page-header}"/>
	<h1 th:if="${#strings.isEmpty(notesUploadFaqUrl)}"
		>Virginia Science Olympiad File Upload</h1>
	<h1 th:if="${not #strings.isEmpty(notesUploadFaqUrl)}"
		>Virginia Science Olympiad Notes Upload</h1>
	<a th:if="${not #strings.isEmpty(notesUploadFaqUrl)}"
		th:href="${notesUploadFaqUrl}" target="_blank"
		rel="noreferrer noopener">Frequently Asked Questions about Notes Uploads<span
		class="required-star"><sup><img src="/externalLink.png" class="external-link"
		alt="This link will open in a new browser tab or window"/></sup></span></a>
	<p>Choose your event:</p>
	<ul>
		<li th:each="event: ${eventList}">
			<a th:href="'/fileUpload/' + ${event.uri}" th:text="${event.label}"/>:
			Division <span th:text="${event.divisionsAsString}"/>
		</li>
	</ul>
	<div th:replace="~{fragments :: page-footer}"/>
	<p style="font-style: italic">
		<span th:text="${projName}"/> version <span th:text="${projVer}"/>,
		running on <span th:text="${host}"/> with <span th:text="${cores}"/> cores
	</p>
</body>
</html>
