<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments :: head}"/>
<body>
	<div th:replace="~{fragments :: page-header}"/>

	<form th:object="${userSub}" th:action="${'/fileUpload/' + event.uri}"
			method="post" enctype="multipart/form-data">
		<div th:replace="~{fragments :: heading}"/>
		Please do not use this submission form unless you have been specifically
		advised to do so by an event supervisor or other tournament official.
		<div th:replace="~{fragments :: id-fields(null, null)}"/>
		<div class="entry-field-panel">
			<label>
				File 1:<span class="required-star"><sup>&starf;</sup></span><br/>
				<input type="file" name="fileA" size="70" required/>
			</label>
		</div>
		<div class="entry-field-panel">
			<label>
				File 2:<br/>
				<input type="file" name="fileB" size="70"/>
			</label>
		</div>
		<div class="entry-field-panel">
			<label>
				File 3:<br/>
				<input type="file" name="fileC" size="70"/>
			</label>
		</div>
		<div th:replace="~{fragments :: notes-and-buttons}"/>
	</form>

	<div th:replace="~{fragments :: page-footer}"/>
</body>
</html>
