<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>VASO File Upload</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/VasoFileUploadStylesheet.css"/>
</head>
<body>
	<div th:replace="~{fragments :: page-header}"/>
	<h1>Unable to Record Your Submission:</h1>

	<p th:utext="${message}"/>
	<p th:text="'Exception type: ' + ${exception}"/>
	<p><a href="/fileUpload">Try again</a></p>

	<div th:replace="~{fragments :: page-footer}"/>
</body>
</html>
